.irc-input-file {
    display: none;

}

.irc-input-file + label {
    display: flex;
    flex: 1;
}

.irc-input-file_nombre {
    background: #eeee;
    border: 1px solid #cacaca;
    display: block;
    padding: 10px;
    flex: 1;
    border-radius: 4px 0px  0px 4px;

}
.irc-input-file_nombre span {
    white-space: nowrap;
    overflow: hidden;
    text-shadow: ellipsis;
    width: fit-content;
    display: block;
    cursor: pointer;
}
.irc-input-file_nombre span:hover {
    color: #E22A3D;
}

.irc-input-file_boton {
    background: #E22A3D;
    border: 1px solid #E22A3D;
    color: #ffff ;
    display: block;
    cursor: pointer;
    border-radius: 0px 4px  4px 0px;
}
.irc-input-file_boton:hover{
  background-color: #f3f3f3;
  color: #E22A3D ;
}


.circle{
    color: #E22A3D;
    border: 1px solid #000;
    border-radius: 100%;
}

